*, *::before, *::after {
    box-sizing: border-box;
}
/*light-blue: #C6E9FF*/
/*blue: #46B7FF*/
/*red: #FF4648*/
/*black: #0e1219*/
/*white: #FFFFFF*/

body {
    margin: 0;
    background: linear-gradient(to right, #ff8e46, #fe9c41, #fba93f, #f7b73e, #f2c441);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #FFFFFF;
    outline: none;
    background-color: #C6E9FF;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: #46B7FF;
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: #0e1219;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #ebe5e5;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #FFFFFF;
    font-size: 2.5rem;
}